:root {
  --bg-color: rgba(0, 0, 0, 0.75);
  --div-bg-color: rgba(255, 255, 255, 0.725);
  --text-color: rgba(0, 0, 0, 1);
}

[data-theme="dark"] {
  --bg-color: rgba(0, 0, 0, 0.25);
  --div-bg-color: rgba(255, 255, 255, 0.75);
  --text-color: rgba(0, 0, 0, 1);
}

[data-theme="light"] {
  --bg-color: rgba(255, 255, 255, 0.75);
  --div-bg-color: rgba(0, 0, 0, 0.25);
  --text-color: rgba(0, 0, 0, 1);
}

body, .roadmap, .resources, .developer-section {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.switch {
  position: fixed;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-self: flex-end;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


.main {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.25);
  color: var(--text-color);
}

.s1-content-button, .s2-content-button, .s3-content-button, .s4-content-button, .s5-content-button {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin: 10px;
}

.s1, .s2, .s3, .s4, .s5 {
  display: flex;
  justify-content: space-between;
  min-width: 50vmax;
}

.stage1, .stage2, .stage3, .stage4, .stage5 {
  color: var(--text-color);
  background-color: rgba(255, 166, 0, 0.25);
  border-radius: 5px;
  border-style: double;
  margin-bottom: 20px;
}

.s1-content, .s2-content, .s3-content, .s4-content, .s5-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin: 10px;
  min-width: 125%;
  border-radius: 5px;
  background-color: rgba(255, 166, 0, 0.25);
}

.stage1:hover, .stage2:hover, .stage3:hover, .stage4:hover, .stage5:hover {
  background-color: rgba(255, 166, 0, 0.75);
}

.s1-content:hover, .s2-content:hover, .s3-content:hover, .s4-content:hover, .s5-content:hover {
  cursor: pointer;
  background-color: rgba(255, 166, 0, 0.75);
}

.s1-content-button:hover, .s2-content-button:hover, .s3-content-button:hover, .s4-content-button:hover, .s5-content-button:hover {
  cursor: pointer;
}

.roadmap-outer {
  text-align: center;
}

.header {
  color: var(--text-color);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.developer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  width: 70vmax;
  border-radius: 50px;
  background-color: var(--div-bg-color);
}

.developer-photo {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.developer-message {
  max-width: 75%;
  text-align: left;
}

#dev-more {
  max-width: 75%;
  text-align: left;
  display: none;
}

.developer-name {
  margin-bottom: 2px;
  white-space: nowrap;
  font-family: 'Times New Roman', Times, serif;
}

.developer-role {
  margin-top: 0;
  font-family: 'Times New Roman', Times, serif;
}

.developer-left {
  text-align: center;
  color: var(--text-color);
}

.developer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.more {
  text-align: center;
  border-radius: 5px;
  border: none;
  color: var(--text-color);
  padding: 10px 50px;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0);
}

.more:hover {
  cursor: pointer;
}

.resources {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 20px;
  background-color: var(--div-bg-color);
  width: 70vmax;
  margin-bottom: 2%;
}

.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 50px;
  background-color: var(--div-bg-color);
  flex-direction: column;
  width: 70vmax;
}

.resource-link-top {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px 5px;
}

.resource-link-top:hover {
  background-color: rgba(255, 0, 0, 0.75);
  cursor: pointer;
}

.resource-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resource-link-bottom {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px 5px;
}

.resource-link-bottom:hover {
  background-color: rgba(255, 0, 0, 0.75);
  cursor: pointer;
}

.s1-content-set, .s2-content-set, .s3-content-set, .s4-content-set, .s5-content-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#html {
  display: none;
  max-width: 75%;
  text-align: left;
}

#css {
  display: none;
  max-width: 75%;
  text-align: left;
}

#flex-grid {
  display: none;
  max-width: 75%;
  text-align: left;
}

#js-basics {
  display: none;
  max-width: 75%;
  text-align: left;
}

#dom-events {
  display: none;
  max-width: 75%;
  text-align: left;
}

#async-js {
  display: none;
  max-width: 75%;
  text-align: left;
}

#project-ideas {
  display: none;
  max-width: 75%;
  text-align: left;
}

#deploy-host {
  display: none;
  max-width: 75%;
  text-align: left;
}

#git-github {
  display: none;
  max-width: 75%;
  text-align: left;
}

#react {
  display: none;
  max-width: 75%;
  text-align: left;
}

#tailwind {
  display: none;
  max-width: 75%;
  text-align: left;
}

#build-tools {
  display: none;
  max-width: 75%;
  text-align: left;
}

#responsive-design {
  display: none;
  max-width: 75%;
  text-align: left;
}

#performance {
  display: none;
  max-width: 75%;
  text-align: left;
}

#accessibility {
  display: none;
  max-width: 75%;
  text-align: left;
}