.main {
  background-color: rgba(0, 0, 0, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.s1-content-button, .s2-content-button, .s3-content-button, .s4-content-button, .s5-content-button {
  border: none;
  background-color: transparent;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin: 10px;
}

.s1, .s2, .s3, .s4, .s5 {
  display: flex;
  justify-content: space-around;
  min-width: 50vmax;
}

.stage1, .stage2, .stage3, .stage4, .stage5 {
  background-color: rgba(255, 166, 0, 0.25);
  border-radius: 5px;
  border-style: double;
  margin-bottom: 20px;
}

.s1-content, .s2-content, .s3-content, .s4-content, .s5-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin: 10px;
  min-width: 125%;
  border-radius: 5px;
  background-color: rgba(255, 166, 0, 0.25);
}

.stage1:hover, .stage2:hover, .stage3:hover, .stage4:hover, .stage5:hover {
  background-color: rgba(255, 166, 0, 0.75);
}

.s1-content:hover, .s2-content:hover, .s3-content:hover, .s4-content:hover, .s5-content:hover {
  cursor: pointer;
  background-color: rgba(255, 166, 0, 0.75);
}

.s1-content-button:hover, .s2-content-button:hover, .s3-content-button:hover, .s4-content-button:hover, .s5-content-button:hover {
  cursor: pointer;
}

.roadmap-outer {
  color: wheat;
  text-align: center;
}

.header {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.developer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  width: 70vmax;
  border-radius: 50px;
  background-image: url(assets/div_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.developer-photo {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.developer-message {
  max-width: 75%;
  text-align: left;
}

#dev-more {
  max-width: 75%;
  text-align: left;
  display: none;
}

.developer-name {
  margin-bottom: 2px;
  white-space: nowrap;
  font-family: 'Times New Roman', Times, serif;
}

.developer-role {
  margin-top: 0;
  font-family: 'Times New Roman', Times, serif;
}

.developer-left {
  text-align: center;
  color: red;
}

.developer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(202, 0, 0);
}

.more {
  text-align: center;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 50px;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0);
}

.more:hover {
  cursor: pointer;
}

.resources {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 20px;
  background-image: url(assets/div_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70vmax;
  margin-bottom: 2%;
}

.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 50px;
  background-image: url(assets/div_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  width: 70vmax;
}

.resource-link-top {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px 5px
}

.resource-link-top:hover {
  background-color: rgba(255, 0, 0, 0.75);
  cursor: pointer;
}

.resource-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resource-link-bottom {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px 5px
}

.resource-link-bottom:hover {
  background-color: rgba(255, 0, 0, 0.75);
  cursor: pointer;
}

.s1-content-set, .s2-content-set, .s3-content-set, .s4-content-set, .s5-content-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#html {
  display: none;
  max-width: 75%;
  text-align: left;
}

#css {
  display: none;
  max-width: 75%;
  text-align: left;
}

#flex-grid {
  display: none;
  max-width: 75%;
  text-align: left;
}

#js-basics {
  display: none;
  max-width: 75%;
  text-align: left;
}

#dom-events {
  display: none;
  max-width: 75%;
  text-align: left;
}

#async-js {
  display: none;
  max-width: 75%;
  text-align: left;
}

#project-ideas {
  display: none;
  max-width: 75%;
  text-align: left;
}

#deploy-host {
  display: none;
  max-width: 75%;
  text-align: left;
}

#git-github {
  display: none;
  max-width: 75%;
  text-align: left;
}

#react {
  display: none;
  max-width: 75%;
  text-align: left;
}

#tailwind {
  display: none;
  max-width: 75%;
  text-align: left;
}

#build-tools {
  display: none;
  max-width: 75%;
  text-align: left;
}

#responsive-design {
  display: none;
  max-width: 75%;
  text-align: left;
}

#performance {
  display: none;
  max-width: 75%;
  text-align: left;
}

#accessibility {
  display: none;
  max-width: 75%;
  text-align: left;
}